@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@font-face {
    font-family: 'KIONA';
    src: url('./assets/fonts/Kiona-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KIONA';
    src: url('./assets/fonts/Kiona-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

// Define base colors with SCSS variables
$primary-color1-base: #1E322A;
$primary-color2-base: #413D3C;
$primary-color3-base: #000000;
$primary-color4-base: #FFFF;
$secondary-color1-base: #3F544B;
$secondary-color2-base: #B8BFB8;
$secondary-color3-base: #DCE6DC;
$secondary-color4-base: #E0E4E0;

// Export to CSS variables
:root {
    --light-font-color: #{$primary-color4-base};
    --dark-font-color: #{$primary-color3-base};
    --hero-color: #{$primary-color1-base};
    --secondary-color: #{$secondary-color1-base};
    --background-color: #{$primary-color4-base};
    --base-font-family: 'Open Sans', sans-serif;
    --heading-font-family: 'KIONA', serif;
    --header-height: 130px;
    --info-circel-size: 180px;
    --info-circle-color: #{$secondary-color4-base};
}

body {
    background-color: var(--background-color);
    color: var(--dark-font-color);
    font-family: var(--base-font-family);
    margin: 0;
}

h1, h2, h3 {
    font-family: var(--heading-font-family);
}

a {
    color: var(--secondary-color);
    &:hover {
        filter: brightness(400%);
    }
}

.firstPageContent {
    width: 100%;
    display: flex;
    flex-direction: column;

    h1 {
        font-size: 80px;
        margin: 0;
        padding-bottom: 20px;
        font-weight: 900;
        letter-spacing: 4px;
    }
    h3 {
        font-size: 20px;
        margin: 0;
        padding-bottom: 20px;
        font-weight: 900;
        letter-spacing: 4px;
    }

    p {
        line-height: 1.6;
        letter-spacing: 1.5px;
    }
    .header {
        background-color: var(--hero-color);
        color: var(--light-font-color);
        height: var(--header-height);
        display: flex;
        flex-direction: row;
        align-items: end;
        justify-content: end;
        padding-top: 30px;
        padding-right: 30px;
        .image-container {
            width: 100px;
            height: var(--header-height);
            overflow: hidden;
        }
        
        .image-container img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .heroWrapper {
        display: flex;
        flex-direction: column;
        background: linear-gradient(
            to bottom, 
            var(--hero-color) 0%, 
            var(--secondary-color) 90%, 
            var(--background-color) 10%
        );
    }
    .heroSection {
        justify-content: center;
        color: var(--light-font-color);
        padding-right: 30px;
        padding-left: 30px;
        display: flex;
        flex-direction: row;

        p .first-word {
            font-weight: bolder;
            font-family: var(--heading-font-family);
            font-size: 120%;
        }
        .heroText {
            width: 35%;
            margin-top: -50px;
        }
        .image-container {
        padding-top: 150px;
            width: 300px;
            overflow: hidden;
            padding-left: 100px;
        }
        
        .image-container img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .middleSection {
        padding-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;

        .image-container {
            width: 30px;
        }

        .image-container img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        .infoCircleContainer {
            display: flex;
            justify-content: center;
            width: 100%;
            gap: 40px;
        }
        
        .infoCircle {
            background-color: var(--info-circle-color); 
            border-radius: 50%;
            width: var(--info-circel-size);
            height: var(--info-circel-size);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            
        }
        
        .icon-placeholder {
            font-size: 20px; /* Icon size */
            margin-bottom: 5px; /* Space between icon and text */
        }
        
        .infoCircle p {
            font-weight: bold;
            color: var(--dark-font-color);
        }
    }
    

    .bottomSection {
        padding-top: 60px;
        color: var(--dark-font-color);
        width: 100%;
        justify-content: center;
        background-color: var(--background-color);
        display: flex;
        flex-direction: row;
        gap: 8%;
        padding-bottom: 50px;

        .aboutUs {
            width: 30%;
        }
        .contactUs {
            width: 30%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            
            .socialLinks {
                display: flex;    
                justify-content: center;
                gap: 20px;
            }
            
            .socialLinks a {
                color: var(--hero-color); 
                text-decoration: none; 
            }

            .custom-icon {
                font-size: 35px;
            }
            
        }
    }
}

