@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@font-face {
    font-family: 'KIONA';
    src: url('./assets/fonts/Kiona-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KIONA';
    src: url('./assets/fonts/Kiona-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

// Define base colors with SCSS variables
$primary-color1-base: #1E322A;
$primary-color2-base: #413D3C;
$primary-color3-base: #000000;
$primary-color4-base: #FFFF;
$secondary-color1-base: #3F544B;
$secondary-color2-base: #B8BFB8;
$secondary-color3-base: #DCE6DC;
$secondary-color4-base: #E0E4E0;

// Export to CSS variables
:root {
    --light-font-color: #{$primary-color4-base};
    --dark-font-color: #{$primary-color3-base};
    --hero-color: #{$primary-color1-base};
    --secondary-color: #{$secondary-color1-base};
    --background-color: #{$primary-color4-base};
    --base-font-family: 'Open Sans', sans-serif;
    --heading-font-family: 'KIONA', serif;
    --header-height: 130px;
    --info-circel-size: 180px;
    --info-circle-color: #{$secondary-color4-base};
}

body {
    background-color: var(--background-color);
    color: var(--dark-font-color);
    font-family: var(--base-font-family);
    margin: 0;
}


h1, h2, h3 {
    font-family: var(--heading-font-family);
}

a {
    color: var(--secondary-color);
    &:hover {
        filter: brightness(400%);
    }
}

.aboutContainer {
    width: 100%;
    background-color: var(--secondary-color);
    color: var(--light-font-color);
    .jannasanna {
        width: 80%;
        position: relative;
        height: 1150px;
        background-image: url('./assets/images/woodprint.png');
        background-size: 1050px 1000px;
        background-position: right 50px top 250px; 
        overflow: hidden;
        background-color: var(--secondary-color);
        background-repeat: no-repeat;
        margin-top: -100px;
        // padding-bottom: 300px;



        .textArea {
            margin-left: 20%;
            margin-top: -50px;
            width: 50%;


            h1 {
                font-size: 60px;
            }
        }

    }

    .foreground-image {
        padding-top: 1px;
        // border-right: #DCE6DC 5px solid;
        position: absolute;
        right: 0px;
        top: 180px;
        // width: 100%;
        height: 1050px;
        object-fit: contain; /* This makes the image cover the available space, without stretching */
        z-index: 1; /* Ensures this image is on top */
    }
}



.header {
    color: var(--light-font-color);
    height: var(--header-height);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    padding: 30px;

    &.on-frontpage {
        background-color: var(--hero-color);
    }

    &.on-aboutus {
        background-color: var(--secondary-color);
    }
    .image-container {
        width: 100px;
        height: var(--header-height);
        overflow: hidden;
    }
    
    .image-container img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        margin-left: auto; 
    }

    .link-container {
        display: flex;
        justify-content: center; 
        flex-grow: 1; 
        margin-left: 30px; 
        margin-right: 30px;
        font-family: var(--heading-font-family);
        margin-top: -150px;
        font-size: 20px;
        padding-bottom: 10px; /* Provides space for the underline */
    }

    .link-container::after {
        content: "";
        position: absolute;
        top: 30px;
        left: 44%;
        width: 800px; /* Full width of the container */
        height: 0.5px; /* Base height of the underline */
        background: linear-gradient(to left, transparent 0%, var(--light-font-color) 50%, transparent 100%);
        transform: translateX(-50%); /* Ensures the gradient is centered */
    }

    .link-container a {
        margin-right: 100px; /* Space between links */
        text-decoration: none; /* Removes underline from links */
        color: var(--light-font-color); /* Ensures text color is consistent */
        transition: filter 0.3s; /* Smooth transition for hover effect */
    }
    
    .link-container a:last-child {
        margin-right: 0; /* No right margin for the last link to avoid extra spacing */
    }
    
    .link-container a:hover {
        filter: brightness(50%); /* Darken link on hover for visibility */
    }
    

}

.firstPageContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    

    h1 {
        font-size: 80px;
        margin: 0;
        padding-bottom: 20px;
        font-weight: 900;
        letter-spacing: 4px;
    }
    h3 {
        font-size: 20px;
        margin: 0;
        padding-bottom: 20px;
        font-weight: 900;
        letter-spacing: 4px;
    }

    p {
        line-height: 1.6;
        letter-spacing: 1.5px;
    }

    .heroWrapper {
        display: flex;
        flex-direction: column;
        background: linear-gradient(
            to bottom, 
            var(--hero-color) 0%, 
            var(--secondary-color) 90%, 
            var(--background-color) 10%
        );
    }
    .heroSection {
        justify-content: center;
        color: var(--light-font-color);
        padding-right: 30px;
        padding-left: 30px;
        display: flex;
        flex-direction: row;

        p .first-word {
            font-weight: bolder;
            font-family: var(--heading-font-family);
            font-size: 120%;
        }
        .heroText {
            width: 40%;
            margin-top: -50px;
        }
        .image-container {
        padding-top: 150px;
            width: 300px;
            overflow: hidden;
            padding-left: 100px;
        }
        
        .image-container img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .middleSection {
        padding-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;

        .image-container {
            width: 30px;
        }

        .image-container img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        .infoCircleContainer {
            display: flex;
            justify-content: center;
            width: 100%;
            gap: 40px;
        }
        
        .infoCircle {
            background-color: var(--info-circle-color); 
            border-radius: 50%;
            width: var(--info-circel-size);
            height: var(--info-circel-size);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            
        }
        
        .icon-placeholder {
            font-size: 20px; /* Icon size */
            margin-bottom: 5px; /* Space between icon and text */
        }
        
        .infoCircle p {
            font-weight: bold;
            color: var(--dark-font-color);
        }
    }
    

    .bottomSection {
        padding-top: 60px;
        color: var(--dark-font-color);
        width: 100%;
        justify-content: center;
        background-color: var(--background-color);
        display: flex;
        flex-direction: row;
        gap: 8%;
        padding-bottom: 50px;
        background-image: url('./assets/images/forest.png');  // Update with the correct path
        background-image: url('./assets/images/forest.png');
        background-size: 100% 220%;  // Non-proportional scaling to fit the container differently
        background-position: center;
        background-repeat: no-repeat;
        padding-bottom: 100px;
        .aboutUs {
            width: 30%;
        }
        .contactUs {
            width: 30%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            
            .socialLinks {
                display: flex;    
                justify-content: center;
                gap: 20px;
                padding-top: 20px;
            }
            
            .socialLinks a {
                color: var(--hero-color); 
                text-decoration: none;
                transition: filter 0.3s; /* Smooth transition for hover effect */
            }

            .custom-icon {
                font-size: 35px;
            }
            
        }
    }

    @media (max-width: 768px) {


        .heroSection {
            flex-direction: column; /* Stack elements vertically */
            .heroText {
                width: 100%; /* Full width on smaller screens */
            }
        }
    
        .image-container {
            width: 100%; /* Full width to match the text div */
            margin-top: -100px;
            margin-left: -100px;
        }
    
        h1 {
            font-size: 40px; /* Smaller font size for better readability on smaller screens */
        }

        .header{
            .image-container {
                margin-top: 20px;
            }
            .link-container {
               margin-left: -5px;
            }
            .link-container a {
                margin-right: 20px; /* Space between links */
            }
        }


        .image-container img {
            width: 100%; /* Makes the image resize within the container */
            height: auto; /* Maintain aspect ratio */
            max-height: 350px; /* Optional: Restrict the maximum height of the image */
        }
        .infoCircleContainer {
            flex-direction: column; /* Stack info circles vertically */
            align-items: center; /* Center-align the info circles horizontally */
        }

        .infoCircle {
            width: 150px; /* Smaller size for the circles */
            height: 150px; /* Maintain aspect ratio for the circles */
            margin-bottom: 20px; /* Space between stacked circles */
            .image-container {
                margin-top: 10px;
                margin-left: 5px;
            }
        }

        .bottomSection {
            flex-direction: column; /* Stack the children vertically */
            align-items: center; /* Center-align the children horizontally */
            gap: 20px; /* Provide some vertical spacing between stacked items */
            .aboutUs, .contactUs {
                width: 90%; /* Increase width to better fit the vertical layout */
                margin-bottom: 50px;
            }
        }

    }
}

